.home {
    text-align: center;
    padding: 50px 20px;
  }
  
  .home h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .shop-btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffd700; /* Gold */
    color: #000000; /* Black */
    font-weight: bold;
    border-radius: 5px;
  }
  
  .shop-btn:hover {
    background-color: #f8f5f2; /* Light gold */
  }
  